**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/*.md
**/.DS_Store
**/node_modules
**/*.user
**/*.suo

# Don't copy sensitive configuration files
appsettings.Development.json
appsettings.Production.json
appsettings.Local.json
